<button #PersonModifierModalTrigger style="display: none;" data-toggle="modal" data-target="#PersonModifierModal">this
  will be used to trigger and open below modal from angular only</button>
<div id="PersonModifierModal" class="modal fade" role="dialog">
  <div class="modal-dialog">  
    <form  [formGroup]="personemodifiermodalform">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Person list</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="font-weight:bold;">
          <div class="form-group alert alert-danger" [style]="ErrorSchemaObj.IfErrorFound ? 'display: block' : 'display: none'">
            <label>{{ErrorSchemaObj.ErrorMessage}}</label>
          </div>
          <div class="form-group">
            <label for="First Name" >First Name:</label>
            <input type="text" name="FirstName" class="form-control" placeholder="Enter firstname" formControlName="firstName" [(ngModel)]="CrrntPerson.FirstName">
          </div>
          <div class="form-group">
            <label for="Last Name">Last Name:</label>
            <input type="type" name="LastName" class="form-control" placeholder="Enter lastname" formControlName="lastName" [(ngModel)]="CrrntPerson.LastName">
          </div>
          <div class="form-group">
            <label for="Last Name">Age:</label>
            <input type="number" name="age" class="form-control" placeholder="Enter age" [(ngModel)]="CrrntPerson.Age" formControlName="age">
          </div>
          <div class="form-group">
            <label for="Age">BirthPlace:</label>
            <input type="name" id="birthplace" class="form-control" placeholder="Enter birthplace" [(ngModel)]="CrrntPerson.BirthPlace" formControlName="birthplace">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="!personemodifiermodalform.valid" (click)="EditPerson()">{{this.CrrntPerson.PersonId == 0 ? "Add" : "Edit"}}</button>
          <button #CloseModal type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>