<div class="btnAddPersonWrapper container">
    <button class="btn btn-primary" (click)="open(null);">
        <span class="material-icons">
            person_add
        </span>
    </button>
</div>
<div class=" jumbotron">
<div class="PersonListContainer container">
    <div class="row AddRowBottomBorder" style="font-weight:bold;">
        <div class="col-1">No.</div>
        <div class="col-3">Name</div>
        <div class="col-1" style="padding-left: 5px;">Age</div>
        <div class="col-2"style="padding-left: 7px;">BirthPlace</div>
        <div class="col-5"><span class="mx-auto" style="padding-left:45%;">Action</span></div>
    </div>
    <div *ngFor="let user of AllPersons; trackBy: TrackBy; let i = index; let odd = odd" [class.odd]="odd" class="row AddRowBottomBorder">
        <div class="col-1 align-items-center">
            <span>{{i + 1}}</span>
        </div>
        <div class="col-3 align-items-center">
            <span>{{ user.FirstName }}
            {{ HandleNull(user.LastName, '') }}</span>
        </div>
        <div class="col-1 align-items-center">
            <span>{{ HandleNull(user.Age, '-') }}</span>
        </div>
        <div class="col-2 align-items-center">
            <span>{{ HandleNull(user.BirthPlace, '-') }}</span>
        </div>
        <div class="col-5 align-items-center">
            <div class="btnPersonModifierCommonWrapper btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First">
                    <button class="btnPersonModifierCommon btn btn-primary" (click)="open(user);">
                        <span class="material-icons">
                            edit
                        </span>
                        <span class="SpanActionTextClass">
                            Edit
                        </span>
                    </button>
                </div>
                <div class="btn-group" role="group" aria-label="Second">
                    <button class="btnPersonModifierCommon btn btn-primary" (click)="DeletePerson(user.PersonId)">
                        <span class="material-icons">
                            delete
                        </span>
                        <span class="SpanActionTextClass">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<app-person-data-modifier-modal #AppPersonDataModifierModal></app-person-data-modifier-modal>