.odd
{
    background-color: lightgray;
}
.PersonListContainer
{
    border: gray 1px solid;
    border-bottom: 0px;
    border-right: 0px;
    margin-top: 25px;
}
.PersonListContainer div[class^="col"]
{
    /*padding: 5px;*/
    border-right: gray 1px solid;
}
.AddRowBottomBorder
{
    border-bottom: gray 1px solid;
}
  .btnAddPersonWrapper
  {
      height: 60px;      
      padding-right: 1px;
  }
  .btnAddPersonWrapper button
  {
      float: right;
      margin-top:15px;
  } 
  .btnPersonModifierCommonWrapper, .btnPersonModifierCommon
  {
      width: fit-content;
  }
  .btnPersonModifierCommon
  {
    padding: 2px 5px 4px 5px;
    margin: 5px;
  }
  .btnPersonModifierCommon span
  {
      position: relative;
      font-size: 14px;
  }
  .material-icons
  { 
      vertical-align: middle;
  }
  .align-items-center
  {
    display: flex;
  }