<div class="container topclass">
    <h2>User Sign-Up</h2>
    <div class="row">
      <div class="col-12">
        <form  (ngSubmit)="onSubmit()" [formGroup]="registraionForm">
          <div id="user-data" style="font-weight:bold;">
            <div class="col-12 form-group">
              <label for="FirstName">First Name:</label>
              <input type="text" name="FirstName" class="form-control" placeholder="Enter First Name" formControlName="firstname" required />
            </div>
            <div class=" col-12 form-group">
              <label for="LastName">Last Name:</label>
              <input type="text" name="LastName" class="form-control" placeholder="Enter Last Name" formControlName="lastname" required />
            </div>
            <div class=" col-12 form-group">
              <label for="UserName">Username:</label>
              <input type="text" name="Username" class="form-control" placeholder="Enter Username" formControlName="username"
                required />
            </div>
            <div class=" col-12 form-group">
              <label for="Password">Password:</label>
              <input type="password" name="Password" class="form-control" placeholder="Enter Password" formControlName="password" required />
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>