<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav">
         <li class="nav-item active">
            <a class="nav-link" href="#" style="font-weight:bold; font-size: 1.2em;">Person Collection Dashboard</a>
         </li>
      </ul>
   </div>
   <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
         <li *ngIf="IfLoggedIn == false && Router.url != '/registration'"><a [routerLink]="['/registration']"
               class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li *ngIf="IfLoggedIn == false && Router.url != '/login'"><a [routerLink]="['/login']"
               class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <button class="btn btn-primary" *ngIf="IfLoggedIn == true" (click)="logout()">Logout</button>
      </ul>
   </div>
</nav>