<div class="loginContainer">
    <div class="mx-auto jumbotron vertical-center">
        <div class="row firstRow">
            <h3>User Login</h3>
        </div>
        <div class="row" >
            <div class="col-12">
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <div id="userLogin-data">
                        <div class="col-12 form-group" style="font-weight:bold;">
                            <label for="username">User Name:</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter username"
                                formControlName="username" required />
                        </div>
                        <div class="col-12 form-group" style="font-weight:bold;">
                            <label for="password">Password:</label>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password"
                                formControlName="password" required />
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>