.loginContainer > div
{
    padding: 30px;
    border: lightgray 1px solid;
}
.loginContainer>.mx-auto
{
    width: 350px;
}

.firstRow
{
    margin-top: -56px;
}
.firstRow>h3
{
    width: fit-content;
    background: #00838f !important;
    padding: 9px;
    color: white;    
    border-radius: 5px;
}